{% load static %}

<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <link rel="stylesheet" href="{% static 'css/footer.css' %}">


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Tomasz Borowiak<span></span></h5>
                        <a href="https://www.linkedin.com/in/tomasz-borowiak/" title="glorythemes">LinkedIn</a>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="/tournaments">Tournaments</a></div>
                                <div class="thumb-content"><a href="/players">Players</a></div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Get Started<span></span></h5>
                        <a class="btn" href="/register" target="_blank">Register Now</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Me<span></span></h5>

                        <p><a href="mailto:tomasz.borowiak.96@gmail.com" title="glorythemes">tomasz.borowiak.96@gmail.com</a>
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Tomasz Borowiak © 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>